* {
	margin: 0;
	padding: 0;
}

.clearfix:{
	clear: both;
}

.conteiner {
	width: 1280px;
	height: 1024px;
	position: relative;
	background-image: url("../images/background.png");
	background-repeat: repeat-x;
	margin: 0 auto;
    }

.white-main {
	width: 1000px;
	height: 990px;
	position: relative;
	background-image: url("../images/white_main.png");
	background-repeat: repeat-x;
	margin: 0 auto;
}

.blue-lines {
	width: 1000px;
	height: 1px;
	position: absolute;
	background-image: url("../images/blue_lines.png");
	margin-top: 178px;
}

.logo {
	width: 283px;
	height: 164px;
	margin: 0 0 0 35px;
	position: absolute;
	background-image: url("../images/logo.png");
}

.travels {
    font-size: 14px;
    font-family: "Tahoma";
    color: rgb( 18, 138, 167 );
    text-align: right;
    position: absolute;
    left: 70px;
    top: 100px;
}

.contacts {
	font-size: 14px;
    font-family: "Tahoma";
    color: rgb( 18, 138, 167 );
    float: right;
    margin-top: 15px;
    margin-right: 35px;
}

.contries-nav {
	position: absolute;
	right: 10px;
    top: 150px;
    margin-left: 500px;
 }

.contries-nav li a{
	font-size: 14px;
	color: rgb( 18, 138, 167 );
	padding-right: 5px;
	display: inline-block;
	margin-left: -4px;
}

#flag {
	position: absolute;
	float: right;
	margin-top: 100px;
	margin-left: 650px;
}

.maldives {
	width: 42px;
	height: 42px;
	float:left;
	margin-right: 10px;
	background-image: url("../images/maldives.png");
}

.srilanka {
	width: 42px;
	height: 42px;
	float:left;
	margin-right: 10px;
	background-image: url("../images/srilanka.png");
}

.butan {
	width: 42px;
	height: 42px;
	float: left;
	margin-right: 10px;
    background-image: url("../images/bhutan.png");
}

.tibet {
	width: 42px;
	height: 42px;
	float: left;
	margin-right: 10px;
    background-image: url("../images/tibet.png");
}

.nepal {
	width: 42px;
	height: 42px;
	float: left;
	margin-right: 10px;
	background-image: url("../images/nepal.png");
}

.india {
	width: 42px;
	height: 42px;
	float: left;
	margin-right: 10px;
	background-image: url("../images/india.png");
}

.contries-nav li {
    list-style: none; 
    display: inline-block;
    padding-right: 5px;
}

.photo {
	width: 1000px;
	height: 237px;
	background-image: url("../images/photo.png");
	position: absolute;
	margin: 179px auto 0;
}

.menu {
	width: 1000px;
	height: 38px;
	position: absolute;
	background-repeat: repeat-x;
	background-image: url("../images/panel.png");
	margin: 412px auto;
}

.menu ul {
	font: 14px Arial;
	position: relative;
}

.menu ul ul {
	display: none;
}

.menu ul li:hover > ul {
	display: block;
}

.menu li{
	width: 140px;
	float: left;
	list-style: none;
	text-align: center; 
}

.menu li a {
	width: 140px;
	color: #fff;
	text-decoration: none;
	display: block;
	padding: 5px 5px;
}

.menu ul li a {
	padding: 10px;
	background: #303030;
	border-top: 1px solid black;
}

.block {
	width: 100%;
	position: absolute;
	font-size: 0;
}

.info {
    width: 200px;
    min-height: 546px;
    display: inline-block;
    vertical-align: top;
    margin-top: 442px;
    background-color: #edeef0;
    border-right: 1px solid #0c0c0c;
}

.content {
	width: 595px;
    min-height: 546px;
    display: inline-block;
    vertical-align: top;
    margin-top: 442px;
    margin-left: -5px;
}

.news {
    width: 200px;
    min-height: 546px;
    display: inline-block;
    vertical-align: top;
    margin-top: 442px;
    background-color: #edeef0;
    margin-left: -5px;
}

h1 {
	text-align: center;
	font-size: 22px;
	font-family: "Tahoma";
    color: rgb( 66, 76, 67);
}

p {
	text-align: center;
    font-size: 14px;
    font-family: "Tahoma";
    color: rgb( 66, 76, 67);
    line-height: 1.8;
}