* {
	margin: 0;
	padding: 0;
}

.clearfix:{
	clear: both;
}

.conteiner {
	width: 1280px;
	height: 1024px;
	background-image: url("../images/background.png");
	background-repeat: repeat-x;
	position: relative;
	margin: 0 auto;
    }

.white-main {
	width: 1000px;
	height: 990px;
	background-image: url("../images/white_main.png");
	background-repeat: repeat-x;
	position: relative;
	margin: 0 auto;
}

.blue-lines {
	width: 1000px;
	height: 1px;
	position: absolute;
	margin-top: 178px;
	background-image: url("../images/blue_lines.png");
}

.logo {
	width: 283px;
	height: 164px;
	float: left;
	margin: 0 30px;
	background-image: url("../images/logo.png");
}

.travels {
    font-size: 14px;
    font-family: "Tahoma";
    color: rgb( 18, 138, 167 );
    float: left;
    text-align: right;
    margin: 100px 70px;
}

.contacts {
	font-size: 14px;
    font-family: "Tahoma";
    color: rgb( 18, 138, 167 );
    float: right;
    margin-top: 15px;
    margin-right: 35px;
}

.coutries-info {
	float: right;
	margin-top: 100px;
	position: absolute;
	margin-left: 620px;
}

.contries-nav {
	float: right;
 }

.contries-nav li a{
	font-size: 14px;
	color: rgb( 18, 138, 167 );
	padding-right: 2px;
	display: inline-block;
	margin-left: -4px;
}

#flag {
	float: right;
}

.maldives {
	width: 42px;
	height: 42px;
	float:left;
	margin-right: 15px;
}

.srilanka {
	width: 42px;
	height: 42px;
	float:left;
	margin-right: 10px;
}

.butan {
	width: 42px;
	height: 42px;
	float: left;
	margin-right: 10px;
}

.tibet {
	width: 42px;
	height: 42px;
	float: left;
	margin-right: 10px;
}

.nepal {
	width: 42px;
	height: 42px;
	float: left;
	margin-right: 10px;
}

.india {
	width: 42px;
	height: 42px;
	float: left;
	margin-right: 10px;
}

.contries-nav li {
    list-style: none; 
    display: inline-block;
    padding-right: 5px;
}

.photo {
	width: 1000px;
	height: 237px;
	background-image: url("../images/photo.png");
	position: absolute;
	margin: 179px auto 0;
}

.menu {
	width: 1000px;
	height: 38px;
	position: absolute;
	background-repeat: repeat-x;
	background-image: url("../images/panel.png");
	margin: 412px auto;
	z-index: 10;
}

.menu ul {
	font: 14px Arial;
	position: relative;
}

.menu ul ul {
	display: none;
}

.menu ul li:hover > ul {
	display: block;
}

.menu li{
	width: 140px;
	float: left;
	list-style: none;
	text-align: center; 
}

.menu li a {
	width: 140px;
	color: #fff;
	text-decoration: none;
	display: block;
	padding: 5px 5px;
}

.menu ul li a {
	padding: 10px;
	background: #303030;
	border-top: 1px solid black;
}

.trangles {
	position: absolute;
	margin: 420px;
	float: left;
	margin-left: 280px;
    z-index: 20;
}

.block {
	width: 100%;
	position: absolute;
	margin-top: 450px;
}

.info {
    width: 19%;
    float: left;
    min-height: 540px;
    border-right: 1px solid #c7cacf;
}

.content {
	width: 60%;
	min-height: 540px;
	float: left;
}

.news {
    width: 20%px;
    float: left;
    min-height: 540px;
}

h1 {
	text-align: center;
	font-size: 18px;
	font-family: "Tahoma";
    color: rgb( 66, 76, 67);
}

p {
	text-align: center;
    font-size: 14px;
    font-family: "Tahoma";
    color: rgb( 66, 76, 67);
    line-height: 1.8;
}

.copy {
	font-size: 12px;
    font-family: "Tahoma";
	color: white;
	text-align: center;
	padding-top: 10px;
}